h1 {
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pepe {
    color: rgb(61, 182, 142);
    font-size: larger;
    background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='8' height='8' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(135)'%3E%3Crect width='100%25' height='100%25' fill='%232a4365'/%3E%3Cpath d='M-10 30h60v3h-60zM-10-10h60v3h-60' fill='%231a202c'/%3E%3Cpath d='M-10 19h60v14h-60zM-10-21h60v14h-60z' fill='rgba(236, 201, 75,1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
}

.pocho {
    font-family: 'Courier New', Courier, monospace;
}